.cat-story {
  width: 100%;
  background-color: #f7f1e5;
}
.cat-story .inner {
  padding: 15% 0;
}

/* title */
.cat-story h2 {
  margin-bottom: 12%;
}

.cat-contents {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 6%;
}

/* img */
.cat-right {
  width: 50%;
  border-radius: 10px;
  overflow: hidden;
}
.cat-right img {
  width: clamp(200px, 100%, 500px);
  height: clamp(200px, 100%, 500px);
}
/* explain */
.cat-left {
  width: 50%;
  /* font-size: 30px; */
  font-size: clamp(18px, 2vw, 30px);
  /* white-space: nowrap; */
}
.cat-left p {
  color: #9d8a74;
  line-height: 1.5;
  margin-bottom: 40px;
}
.cat-left .highlight {
  color: #bf6102;
  font-weight: 700;
}

.cat-left .btn {
  min-width: 180px;
  min-height: 45px;
  padding: 4% 5%;
  font-size: clamp(14px, 2vw, 30px);
}
