.wrap {
  position: relative;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f1e5;
  z-index: 9999;
  padding: 0 20px;
}

/* logo */
.logo {
  max-width: 300px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 30px;
  color: #9d8a74;
}
.logo img {
  width: clamp(70px, 4vw, 100px);
  height: clamp(70px, 4vw, 100px);
}
.logo p {
  white-space: nowrap;
  font-size: clamp(35px, 4vw, 50px);
  font-weight: bold;
  padding-bottom: 8px;
}

/* menu */
.menu-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 700px;
  text-align: center;
}
.menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10%;
  font-size: 26px;
  font-weight: bold;
}
.menu li {
  height: 100%;
  display: flex;
}
.menu li a {
  position: relative;
  display: block;
  color: #9d8a74 !important;
  transition: all 0.3s;
  line-height: 100px;
}
.menu > li > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 22px;
  width: 0;
  height:2px;
  background: #bf6102;
  transition: all 0.3s;
}

/* hover */
.menu > li > a:hover::after {
  width: 100%;
}

.menu li:hover a {
  color: #bf6102 !important;
}

/* mobile menu */
.hambuger {
  display: none;
  position: relative;
  width: 100%;
  width: 40px;
  height: 20px;
  border: 0;
  background: none;
  cursor: pointer;
}
.hambuger span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--brown);
}
.hambuger span:nth-child(1) {
  top: 0;
}
.hambuger span:nth-child(2) {
  top: 50%;
}
.hambuger span:nth-child(3) {
  top: 100%;
}

/* 호버 시 메뉴 나오게 추가 */
