/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap");

/* css */
@import url("reset.css");
@import url("header.css");
@import url("visual.css");
@import url("about.css");
@import url("catstory.css");
@import url("donationstory.css");
@import url("chart.css");
@import url("sponsor.css");
@import url("store.css");
@import url("footer.css");
@import url("resposive.css");

/* figma 스타일 불러오기 */
:root {
  /* Color styles */
  --modal: rgba(253, 200, 158, 1);
  --gray: rgba(119, 119, 119, 1);
  --bg--common: rgba(247, 241, 229, 1);
  --brown: rgba(157, 138, 116, 1);
  --highlight: rgba(191, 97, 2, 1);

  /* Effect styles */
  --btn: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

/* main */
* {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.wrap {
  width: 100%;
}
.inner {
  width: 95%;
  max-width: 1200px;
  min-width: 350px;
  margin: 0 auto;
}
img {
  display: block;
  width: 100%;
}

/* 폰트 사이즈만 조정 */
.btn {
  background: none;
  border: 0;
  min-width: 110px;
  /* padding: 20px 25px; */
  padding: 2% 2.5%;
  border-radius: 10px;
  font-size: 30px;
  color: #fff;
  box-shadow: var(--btn);
  background-color: #9d8a74;
  transition: transform 0.3s ease;
}

.btn:hover {
  background-color: #bf6102;
  transform: scale(1.03);
}

/* title */
h2 {
  font-size: clamp(26px, 4vw, 40px);
  font-weight: bold;
  text-align: center;
}