.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99999;
}
.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  max-height: 600px;
  width: min(80vw, 450px);
  /* height: min(80vw, 600px); */
  padding-bottom: 2%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  text-align: center;
  border-radius: 10px;
  background-color: #fffdf9;

  aspect-ratio: 450 / 600;
  background-size:
    100% auto,
    85% auto;
  background-image:
    url(../images/modal/modal-hand.png), url(../images/modal/modal-cat.png);
  background-repeat: no-repeat, no-repeat;
  background-position:
    /* center 3%,
    center 8%; */
    center 2.5%,
    center 7%;
}

.modal-img {
  /* margin-top: 5%;
  width: 100%;
  aspect-ratio: 5 / 6;
  background-size:
    100% auto,
    100% auto;
  background-image:
    url(../images/modal/modal-hand.png), url(../images/modal/modal-cat.png);
  background-repeat: no-repeat, no-repeat; */
}

/* 높이 맞추기 */
.modal-text {
  margin-top: auto;
}

.modal-text h2 {
  font-size: clamp(16px, 2vw, 24px);
}
.modal-text strong {
  color: #e47242;
}
.modal-text p {
  font-size: clamp(12px, 2vw, 18px);
  font-weight: 500;
  margin: 25px 0;
}

.modal-btn {
  padding: 3% 5% !important;
  font-size: clamp(12px, 2vw, 16px) !important;
  background-color: #ffbd87 !important;
  margin-bottom: 5%;
}
.modal-btn:hover {
  background-color: #f1a362 !important;
}

/* 하루동안 보지 않기 추가 예정 */
.modalClose {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  color: #fdc89e;
  cursor: pointer;
}
