/* pc2 */
@media (max-width: 1200px) {
  /* header */
  .menu {
    font-size: 22px;
    gap: 6%; /* 10% */
  }
  /* store */
  .product-list li {
    width: calc((100% - 6%) / 4);
  }
}
/* chart */
@media (max-width: 1000px) {
  .chart-top {
    flex-direction: column;
    align-items: center;
    gap: 20%;
  }
  .line {
    width: 100% !important;
  }
  .pie {
    width: 100% !important;
  }
  .prograss-container {
    margin-top: 5%;
  }
  /* store */
  .product-list li {
    width: calc((100% - 4%) / 3);
  }
}

/* tablet */
@media (max-width: 768px) {
  .inner {
    width: 85% !important;
  }
  /* header */
  .menu {
    display: none;
  }
  .hambuger {
    display: block;
  }

  /* visual */
  .visual-wrap {
    aspect-ratio: auto;
  }
  /* 비주얼 텍스트 위치 옮기기 */
  .visual {
    /* aspect-ratio: 7/4; */
    /* min-height: 500px; */
    aspect-ratio: 768/433;
    background-color: beige;
  }
  #visual1 {
    display: none;
  }
  #tablet-visual {
    display: block;
    /* aspect-ratio: 768/433; */
  }

  /* cat story */
  .cat-contents {
    display: flex;
    flex-direction: column;
    gap: 6%;
  }
  .cat-left {
    margin-top: 5%;
    text-align: center;
  }
  .cat-left .no-br {
    display: none;
  }

  /* donation story */
  .donation-contents {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 60px;
  }

  /* sponsor */
  .holder2 {
    display: block;
  }
  .holder {
    display: none;
  }
  .ticker02 li span {
    display: block;
  }
  .br-sp {
    display: block;
  }
  /* store */
  .product-list li {
    width: calc((100% - 2%) / 2);
  }
  /* .product-list li {
    width: 100%;
  } */
  /* .product-price,
  .product-card-top h4 {
    font-size: clamp(18px, 4vw, 24px);
  } */
  .products-btns {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .products .btn {
    min-width: 110px;
    padding: 2% 4%;
    font-size: clamp(14px, 3vw, 20px);
  }
}
@media (max-width: 600px) {
  .product-list li {
    width: 100%;
  }
  .product-price,
  .product-card-top h4 {
    font-size: clamp(18px, 4vw, 24px);
  }
}

/* mobile */
@media (max-width: 390px) {
}
